
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
    font-family: serif;
    letter-spacing: 5px;
    font-weight: 400;
}
h1 {
    font-size: 36px;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.row {
    display: flex;
}
.width-half {
    max-width: 49.9999%;
    padding: 12px 24px;
}
.color-gray {
    color: #757575;
}

/* navbar */
.navbar-area {
    position: fixed;
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 1px 1px 5px 0px #00000061;
    background: white;
    z-index: 55555;
}
.log a {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 4px;
    color: black;
    display: inline-block;
    padding: 8px 16px;
}
.log a:hover {
    background: #ccc;
}
.main-menu ul li {
    display: inline-block;
    margin: 0;
}
.main-menu ul li a {
    letter-spacing: 4px;
    display: block;
    padding: 8px 16px;
    line-height: 23px;
    color: black;
    font-size: 15px;
}
.main-menu ul li a:hover {
    background: #ccc;
}
/* .banner */
.banner-area {
    position: relative;
    margin-bottom: 58px;
}
.banner-area img {
    width: 100%;
    height: auto;
}
.banner-title {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 35px 25px;
    opacity: .6;
}
/* about */
.about-area {
    margin-bottom: 80px;
}
.about-left img {
    width: 100%;
    opacity: 0.75;
    border-radius: 5px;
}
.about-right h1 {
    text-align: center;
    margin: 15px 0 50px 0;
}
.about-right h4 {
    text-align: center;
    margin-bottom: 22px;
    font-size: 18px;
}
.about-right p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}
span.highlight {
    display: inline-block;
    background: #f1f1f1;
    padding: 0px 6px;
}

/* our menu */
.our-menu-area {
    margin-top: 80px;
}
.our-menu-left h1 {
    text-align: center;
    margin-bottom: 37px;
}
.our-menu-left h4 {
    font-size: 20px;
    margin-bottom: 20px;
}
.our-menu-left p {
    color: #757575;
    margin-bottom: 35px;

}
.our-menu-right img {
    opacity: 0.75;
}

/* contact */

.contact-area h1 {
    margin-bottom: 50px;
}
.contact-area h3 {
    letter-spacing: normal;
    color: gray;
    font-weight: 600;
}
.contact-area p {
    margin: 10px 0;
}
form.contact-form input {
    width: 100%;
    padding: 15px 7px;
    border: none;
    border-bottom: 1px solid #bbbbbb;;
    margin: 10px 0;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.submit-btn {
    display: inline-block;
    padding: 10px 15px;
    border: navajowhite;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 35px;
    font-family: 'Times New Roman', Times, serif;
}
/* footer */
.footer-area {
    padding: 45px;
    margin-top: 80px;
    background: #f1f1f1;
    text-align: center;
}